{% extends "base.html" %}
{% block bgbody %}
home-background
{% endblock %}
{% block content %}
<header class="container-lg mt-4 mt-5-lg d-flex flex-column justify-content-between d-lg-flex flex-lg-row align-items-lg-center">
    <div class="text-center col-lg-6 mt-md-4 mt-lg-4">
        <p class="travel barlow mx-auto" style="font-family: 'Barlow Condensed', sans-serif;">SO, YOU WANT TO TRAVEL TO
        </p>
        <span class="space text-white d-block" style="font-family: 'Bellefair', serif;">SPACE</span>
        <p class="travel2 mx-auto mx-lg-0" style="font-family: 'Barlow', sans-serif;">
            Let’s face it; if you want to go to space, you might as well
            genuinely go to outer space and not hover kind
            of on the edge of it. Well sit back, and relax because
            we’ll give you a truly out of this world experience!
        </p>
    </div>
    <div class="explore text-center col-10 bg-white mx-auto mt-4 mt-md-5 col-lg-6 d-flex justify-content-center align-items-center">
        <a href="#"><p class="display-3 text-dark">EXPLORE</p></a>
    </div>
</header>
{% endblock %}
